<!DOCTYPE html>
{% load static%}
<html>

<head>
    <title></title>
    <!--<link rel="stylesheet" type="text/css" href="{%static 'votingpanel/cand.css' %}">-->
    <style>
       
    </style>
</head>

<body>
    <div class="main">
        
            <h2>Available Positions</h2>
            

           <form action="/votingpanel/displaycandidate/" id="register" method="POST">
                {% csrf_token %}               
                <select  name="position" class="select">
                    {% for position in positions %}
                        <option value={{position.id}}>{{ position.title }}</option>
                        <br><br>
                    {% endfor %}
                </select>
                <br><br>
                <div class="msg">
                    {% if messages %}
                    {% for message in messages %}
                        {{ message }}<br><br>
                    {% endfor %}
                    {% endif %}
                </div>
                <input type ="submit" name="submit" value = "GO">

           </form>
        </div>
    
</body>

</html>