<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Welcome</title>
        <link rel = "stylesheet" type="text/css" href="{%static 'votingpanel/style3.css' %}">
        <style>
        </style>
    </head>

    <body bgcolor="grey">
        
        {%block content %}
        <header>
            <div class ="main">
            
            
                <div class = "logo_container">
                    <p><strong></strong></p>
                </div>
                <ul>
                    <li class = "active"><a href = "/votingpanel/index" >Home</a></li>
                    <li><a href = "/votingpanel/login/">Vote here</a></li>
                    <li><a href = "/votingpanel/result/">View Result</a></li>
                </ul>
            </div>

           <!---- <div class = "button">
                <a href = "" class="btn"><strong>Login Here!</strong></a>
            </div>-->
        </header>
        {%endblock %}

    </body>
</html>